html {
    height: 100vh;
    width: 100vw;
  }
  
button {
    padding: 1em;
    border-radius: 10px;
    background-color: gold;
    font-size: x-large;
    font-weight: 600;
    color: rgb(0, 32, 6);
    font-family: 'Times New Roman', Times, serif;
    border-color: yellow;
  }

 #rat{
  margin: auto;
  max-width: 10em;
 } 
#main{
  text-align: center;
  margin: 5em auto 0em auto;
  width: min-content;
  height: min-content;
  min-width: 13em;
}