html {
    height: 100vh;
    width: 100vw;
  }
body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}
button {
    padding: 1em;
    border-radius: 10px;
    background-color: gold;
    font-size: x-large;
    font-weight: 600;
    color: rgb(0, 32, 6);
    font-family: 'Times New Roman', Times, serif;
    border-color: yellow;
  }

 #rat{
  margin: auto;
  max-width: 10em;
 } 
#main{
  text-align: center;
  margin: 5em auto 0em auto;
  width: min-content;
  min-height: 90%;
  min-width: 13em;

}